* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

html, body {
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.canvasContainer {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 1;
}

.canvas {
    height: 100%;
    width: 100%;
}

.statebarContainer {
    margin: 0;
    opacity: 1;
    position: absolute;
    z-index: 2;
    padding: 10px 20px;
    width: 100%;
    height: 35px;
    display: flex;
    align-items: center;
    background: linear-gradient(
            to bottom,
            #b4b4b4 0%,
            #dedede 10%,
            white 50%,
            #dedede 90%,
            #c4c4c4 100%
    );
}

.statebarContainer div {
    font-size: 18px;
    display: inline-flex;
    align-items: center;
}

.timerContainer {
    flex-basis: 100px;
    flex-shrink: 0;
    flex-grow: 0;
}

.coinsScoreContainer, .killsScoreContainer {
    flex-basis: 70px;
    flex-shrink: 0;
    flex-grow: 0;
}

.statebarContainer div img {
    margin-right: 5px;
}

.gameOverContainer {
    height: 100%;
    width: 100%;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.4);
    color: #ffffff;
    z-index: 2;
    opacity: 0;
    transform: translateY(-800px);
    transition: opacity 2s ease, transform 2.5s ease;
}

.gameOverContainer h1 {
    font-size: 52px;
}

.gameOverContainer p {
    font-size: 28px;
}

.displayContainer {
    opacity: 1;
    transform: translateY(0);
}

.hideContainer {
    opacity: 0;
}